<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
>

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Newbagshop">
        <activity
            android:name=".SplashActivity"
            android:exported="false" />
        <activity
            android:name=".Catergory_menu"
            android:exported="false" />
        <activity
            android:name=".PlaceYourOrder"
            android:exported="false" />
        <activity
            android:name=".Shopping_menus"
            android:exported="false" />
        <activity
            android:name=".Succes_order"
            android:exported="false" />
        <activity
            android:name=".Home"
            android:exported="false" />
        <activity
            android:name=".Register"
            android:exported="false" />
        <activity
            android:name=".PasswordRe"
            android:exported="false" />
        <activity
            android:name=".Logging"
            android:exported="false" />
        <activity
            android:name=".Welcome"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <meta-data

            android:name="com.razorpay.ApiKey"
            android:value="rzp_test_A6zIiaelohpvKE"/>
        <meta-data
            android:name="com.google.gms.wallet.api.enabled"
            android:value="true"/>
    </application>

</manifest>